* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* body {
    margin: 0;
    min-height: 100vh;
    background-image: url(../project/images/seafaring.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #dbe9f9, #59a4ff);
}
/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #26475f, #111e27);
} */
.navbar {
    overflow: hidden;
    text-align: center;
   
}
/* .navbar {
    overflow: hidden;
    text-align: center;
} */

.navbar #mobile-navbar {
    display: none;
}
/* .navbar #mobile-navbar {
    display: none;
} */

.navbar a {
    float: left;
    display: block;
    color: #19364D;
    padding: 14px 20px;
    font-weight: 300;
    text-decoration: none;
}
/* .navbar a {
    float: left;
    display: block;
    color: #F5F9FF;
    padding: 14px 20px;
    font-weight: 300;
    text-decoration: none;
} */

.navbar a:hover,
#logout-button:hover {
    background-color: #142029;
    color: #F5F9FF;
}
/* .navbar a:hover,
#logout-button:hover {
    background-color: #A8CEFB;
    color: #142029;
} */

.navbar-right {
    float: right;
}

#logout-button {
    display: block;
    background-color: transparent;
    color: #19364D;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    padding: 14px 16px;
    cursor: pointer;
}
/* #logout-button {
    display: block;
    background-color: transparent;
    color: #F5F9FF;
    border: none;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
    padding: 14px 16px;
    cursor: pointer;
} */

.content {
    margin: 0 auto;
    line-height: 1.5;
}
/* .content {
    overflow: scroll;
    line-height: 1.5;
    padding: 20%;
} */


/* .wrapper {
    background-image: url(../project/images/paper.png);
    background-repeat: no-repeat;
    width: 990px;
    height: 743px;
    display: flex;
}

.side {
    background-color: #ffffff00;
    flex: 1;
    margin: 50px;
    padding: 20px 10px;
    text-align: left;
    border-right: 2px solid #90855b;
}

.side h1 {
    font-weight: 300;
    margin: 0 0.2em 0 -0.5em;
    padding-left: 10px;
    border-bottom: 2px solid #90855b;
}

.main {
    background-color: #cccccc00;
    flex: 2;
    margin: 50px;
    padding: 20px 10px;
    text-align: center;
}

.main h1 {
    font-weight: 300;
    margin-left: -2.8em;
    margin-right: -0.7em;
    border-bottom: 2px solid #90855b;
}

.navbar > a.hamburger-icon {
    float: right;
    display: none;
    font-size: 1.9em;
    font-weight: 900;
    padding: 1%;
    transform: translateX(-3%)
}

.navbar > a, #mobile-menubar {
    display: none;
}


@media print, (max-width: 501px) {
    .navbar #desktop-navbar {
        display: none;
    }

    .navbar > a.hamburger-icon {
        float: right;
        display: block;
    }

    .navbar > a, #mobile-menubar {
        display: block;
    }

    .navbar a:hover {
        background-color: #A8CEFB;
        color: #142029;
    }
}
 */

.content h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 3.5em;
}

.info {
    width: 425px;
    height: 500px;
    background-color: rgba(246, 240, 240, 0.719);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    line-height: 1.4;
    font-size: 1.1em;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    border: 1px solid rgb(255, 255, 255);
}

.info-buttons {
    width: 100%;
    height: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.info-buttons a {
    position: absolute;
}

.info-buttons a:nth-child(1) {
    margin-left: -175px;
}

.info-buttons a:nth-child(2) {
    margin-right: -175px;
}

.btn {
    background-color: rgba(212, 231, 253, 0.721);
    color: #19364D;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.sign-up-form-box {
    width: 350px;
    height: 450px;
    background-color: rgba(246, 240, 240, 0.719);
    border-radius: 10px;
    padding: 10px;
    line-height: 1.4;
    font-size: 1.1em;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 auto;
    box-sizing: border-box;
}

.log-in-form-box {
    width: 350px;
    height: 390px;
    background-color: rgba(246, 240, 240, 0.719);
    border-radius: 10px;
    padding: 10px;
    line-height: 1.4;
    font-size: 1.1em;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
}

.sign-up-form-box h1, .log-in-form-box h1 {
    text-align: center;
    color: #19364D;
    padding: 10px 0 0 0;
    font-size: 2em;
    font-weight: 500;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 35px;
    padding-bottom: 50px;
    border: none;
    border-color: transparent;
}

.input-box label {
    position: absolute;
    width: 100%;
    padding: 0 0 5px 5px;
}

.input-box span {
    float: right;
    transform: translateX(-30%) translateY(120%);
}

.input-box input {
    width: 300px;
    height: 25px;
    outline: none;
    border: none;
    padding: 0 30px 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-style: outset;
}

.button-holder {
    text-align: center;
    padding: 60px;
}

.game {
    width: 650px;
    height: 400px;
    background-color: rgba(246, 240, 240, 0.719);
    border-radius: 10px;
    padding: 10px;
    line-height: 1.4;
    font-size: 1.1em;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

.question {
    text-align: center;
    padding: 20px;
}

.question h1 {
    color: #19364D;
    font-weight: 600;
    font-size: 2.5em;
    padding-top: 50px;
}

.game-buttons {
    position: absolute;
    margin-top: 250px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.game-buttons button {
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 70px;
    height: 40px;
}

.game-buttons button:nth-child(1) {
    margin-left: -250px;
}

.game-buttons button:nth-child(2) {
    margin-right: -250px;
}

.navbar > a.hamburger-icon {
    float: right;
    display: none;
    font-size: 1.9em;
    font-weight: 900;
    /* color: #142029; */
    padding: 1%;
    transform: translateX(-3%)
}

.navbar > a, #mobile-menubar {
    display: none;
}



@media print, (max-width: 501px) {
    .navbar #desktop-navbar {
        display: none;
    }

    .navbar > a.hamburger-icon {
        float: right;
        display: block;
    }

    .navbar > a, #mobile-menubar {
        display: block;
    }

    .navbar a:hover {
        background-color: #142029;
        color: #F5F9FF;
}
}

@media print, (max-width: 665px) {
    .game {
        width: 440px;
        height: 400px;
        padding: 10px;
        font-size: 1.1em;
    }

    .question h1 {
        font-size: 1.4em;
    }
}

@media print, (max-width: 444px) {
    .content {
        margin: 0 auto;
        line-height: 1.5;
    }
    
    .content h1 {
        font-size: 2em;
    }
    
    .info {
        width: 270px;
        height: 500px;
        padding: 20px;
        font-size: 1em;
    }
    
    .info-buttons {
        width: 100%;
        height: 40px;
        padding-top: 40px;
    }
    
    .info-buttons a:nth-child(1) {
        margin-left: -125px;
    }
    
    .info-buttons a:nth-child(2) {
        margin-right: -125px;
    }
    
    .btn {
        width: 90px;
        height: 32px;
        padding: 3px;
        font-size: 1em;
    }

    .sign-up-form-box {
        width: 270px;
        height: 415px;
        font-size: 14px;
    }
    
    .log-in-form-box {
        width: 270px;
        height: 330px;
        font-size: 14px;
    }
    
    .sign-up-form-box h1, .log-in-form-box h1 {
        font-size: 1.8em;
        font-weight: 400;
    }
    
    .input-box {
        width: 100%;
        height: 50px;
        padding: 35px;
        padding-bottom: 50px;
    }
    
    .input-box label {
        width: 100%;
    }
    
    .input-box span {
        float: right;
        transform: translateX(-60%) translateY(120%);
    }
    
    .input-box input {
        width: 220px;
        height: 25px;
    }
    
    .button-holder {
        text-align: center;
        padding: 35px;
    }

    .game {
        width: 270px;
        height: 400px;
        padding: 10px;
        font-size: 1em;
    }
    
    .question {
        padding: 20px;
    }
    
    .question h1 {
        font-weight: 600;
        font-size: 1.5em;
        padding-top: 50px;
    }
    
    .game-buttons {
        position: absolute;
        margin-top: 250px;
        padding-top: 50px;
        display: flex;
        justify-content: center;
    }
    
    .game-buttons button {
        font-weight: 300;
        position: absolute;
        text-align: center;
        width: 70px;
        height: 40px;
    }
    
    .game-buttons button:nth-child(1) {
        margin-left: -150px;
    }
    
    .game-buttons button:nth-child(2) {
        margin-right: -150px;
    }
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #dbe9f9, #59a4ff);
}

.navbar {
    overflow: hidden;
    text-align: center;
}

.navbar a {
    float: left;
    display: block;
    color: #19364D;
    padding: 14px 20px;
    font-weight: 300;
    text-decoration: none;
}

.navbar a:hover,
#logout-button:hover {
    background-color: #142029;
    color: #F5F9FF;
}

.navbar-right {
    float: right;
}

#logout-button {
    display: block;
    background-color: transparent;
    color: #19364D;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    padding: 14px 16px;
    cursor: pointer;
}

.content {
    margin: 0 auto;
    line-height: 1.5;
}

.content h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 3.5em;
}

.info {
    width: 425px;
    height: 500px;
    background-color: rgba(246, 240, 240, 0.719);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    line-height: 1.4;
    font-size: 1.1em;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    border: 1px solid rgb(255, 255, 255);
}

.info-buttons {
    width: 100%;
    height: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.info-buttons a {
    position: absolute;
}

.info-buttons a:nth-child(1) {
    margin-left: -175px;
}

.info-buttons a:nth-child(2) {
    margin-right: -175px;
}

.btn {
    background-color: rgba(212, 231, 253, 0.721);
    color: #19364D;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.form-box {
    width: 350px;
    height: 390px;
    background-color: rgba(246, 240, 240, 0.719);
    border-radius: 10px;
    padding: 10px;
    line-height: 1.4;
    font-size: 1.1em;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
}

.form-box h1 {
    text-align: center;
    color: #19364D;
    padding: 10px 0 0 0;
    font-size: 2em;
    font-weight: 500;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 35px;
    padding-bottom: 50px;
    border: none;
    border-color: transparent;
}

.input-box label {
    position: absolute;
    width: 100%;
    padding: 0 0 5px 5px;
}

.input-box span {
    float: right;
    transform: translateX(-30%) translateY(120%);
}

.input-box input {
    width: 300px;
    height: 25px;
    outline: none;
    border: none;
    padding: 0 30px 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-style: outset;
}

.button-holder {
    text-align: center;
    padding: 60px;
}

.game {
    width: 650px;
    height: 400px;
    background-color: rgba(246, 240, 240, 0.719);
    border-radius: 10px;
    padding: 10px;
    line-height: 1.4;
    font-size: 1.1em;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

.question {
    text-align: center;
    padding: 20px;
}

.question h1 {
    color: #19364D;
    font-weight: 600;
    font-size: 2.5em;
    padding-top: 50px;
}

.game-buttons {
    position: absolute;
    margin-top: 250px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.game-buttons button {
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 70px;
    height: 40px;
}

.game-buttons button:nth-child(1) {
    margin-left: -250px;
}

.game-buttons button:nth-child(2) {
    margin-right: -250px;
}