{% extends "base.html" %}

{% block content %}
<style>
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  .text-box {
    position: relative;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }

  .text-box::before {
    content: "";
    position: absolute;
    top: -150px;
    left: -10px;
    width: 200px;
    height: 200px;
    background-image: url("{{ url_for('static', filename='images/marco_half_body.png') }}");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }

  .title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .btn {
    font-size: 1em;
    padding: 8px 15px;
    border-radius: 10px;
    margin: 10px 30px 0 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: background-color 0.4s ease;
  }

  .btn:hover {
    background-color: #eee;
  }

</style>

<div class="text-box">
    <h1 class="title" style="font-size: 26px;">Marco Polo</h1>
    <h2 style="font-size: 20px;font-weight: 400;">Can you hide from one of the greatest explorers in
        history?</h2>
    <br>
    <p>
        Start by thinking of a country to hide in.<br>
        Marco Polo will then ask you a few questions that you will have to answer as truthfully as possible.<br>
        After that, he will guess which country you were hiding in.
    </p>
    <br>
    {% if not current_user.is_authenticated %}
    <p>
        But hold on, you will need an account before you can play. Click on log in or sign up down below to proceed to the game.
    </p>
    <br>
    <a href="{{ url_for('auth.login') }}"><button class="btn">Login</button></a>
    <a href="{{ url_for('auth.signup') }}"><button class="btn">Sign Up</button></a>
    <br>
    <br>
    {% endif %}
    {% if current_user.is_authenticated %}
  <div class="button-container">
      <a href="{{ url_for('main.game') }}"><button id="start_button" class="btn">Start!</button></a>
  </div>
  {% endif %}
</div>

{% endblock %}
