{% extends "base.html" %}

{% block content %}
<!-- this is the home page, display rules of game, and login/signup button for not login user, start game for logged user -->
<div class="text-box">
    <h1 class="title" style="font-size: 26px;">Marco Polo</h1>
    <h2 style="font-size: 20px;font-weight: 400;">Can you hide from one of the greatest explorers in
        history?</h2>
    <br>
    <p>
        Start by thinking of a country to hide in.<br>
        Marco Polo will then ask you a few questions that you will have to answer as truthfully as possible.<br>
        After that, he will guess which country you were hiding in.
    </p>
    <br>
    {% if not current_user.is_authenticated %}
    <p>
        But hold on, you will need an account before you can play. Click on log in or sign up down below to proceed to the game.
    </p>
    <br>
    <a href="{{ url_for('auth.login') }}"><button class="btn">Login</button></a>
    <a href="{{ url_for('auth.signup') }}"><button class="btn">Sign Up</button></a>
    <br>
    <br>
    {% endif %}
    {% if current_user.is_authenticated %}
  <div class="button-container">
      <a href="{{ url_for('main.game') }}"><button id="start_button" class="btn">Start!</button></a>
  </div>
  {% endif %}
</div>



{% endblock %}

