/* Global styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.title {
    font-size: 26px;
    font-weight: 500px;
    margin-bottom: 10px;
}
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s ease;
    z-index: 1000;
    padding: 10px 0; 
}

.navbar:hover {
    background-color: rgba(255, 255, 255, 1);
}

.navbar-brand {
    margin-right: 1rem;
}

.navbar-end {
    justify-content: flex-end;
}

.navbar-item {
    color: black;
    padding: 1rem;
    text-decoration: none;
    font-family: 'Comic Sans MS', cursive;
    font-weight: 500px;
    font-size: 20;
}

.navbar-item:hover {
    background-color: transparent;
}

.navbar-burger {
    display: none;
    /* Burger is hidden by default */
    margin-top: 0.5rem;
    /* Adjust the margin from the top */
    margin-right: 0.5rem;
    /* Adjust the margin from the right */
    padding: 5px;
    /* Add padding around the entire menu */
}

.navbar-burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
    transition: none;
    /* Remove the transition */
    border-radius: 2px;
    /* Add rounded corners */
}


.hero {
    color: black;
}

.hero-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Added styles for the text box */
.text-box {
    background: rgba(255, 255, 255, 0.8);
    /* Adjust the transparency */
    border-radius: 15px;
    padding: 40px;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 2px 2px #bab5b5;
    position: relative;
}
.history-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;
    max-height: 10%;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 2px 2px #bab5b5;
    position: relative;
}
.button-container {
    margin-top: 20px;
}

.custom-button {
    /* Existing styles */
    background-color: #fff;
    color: #000;
    padding: 12px 24px;
    /* Adjust the button size */
    border-radius: 15px;
    /* Add rounded edges */
    font-weight: 300;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /*  Shadows for depth */
}

.custom-button:hover {
    background-color: #eee;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar-menu {
        background-color: transparent;
        color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(100%);
        transition: none;
        /* Remove the transition */
    }

    .navbar-burger {
        display: block;
        /* Burger is shown on smaller screens */
    }

    .navbar-menu.is-active {
        transform: translateX(0);
    }
}

.btn {
    background-color: #fff;
    /* White background */
    color: #000;
    /* Black text */
    border: none;
    /* No border */
    border-radius: 15px;
    /* Rounded corners */
    padding: 12px 24px;
    /* Some padding */
    cursor: pointer;
    /* Change cursor when hovering over the button */
    text-decoration: none;
    /* No underline */
    font-size: 16px;
    transition: background-color 0.3s ease;
    /* Smooth transition */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /*  Shadows for depth */
}

.btn:hover {
    background-color: #eee;
    /* Light grey background when hovering */
}

.chat-container {
    width: 100%;
    margin: auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 400px; 
    overflow-y: auto;
}

.chat-title-container {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.chat-title {
    margin: 0;
    font-weight: bold;
}
.chat-entry {
    margin-bottom: 10px;
}
.chat-entry p {
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}
.bot {
    text-align: left;
}
.bot p {
    background-color: #ffffff;
}
.user {
    text-align: right;
}
.user p {
    background-color: #dddddd;
}
.question {
    font-weight: 500;
    word-wrap: break-word;
}



.auth-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: auto;
    border: 1.25px solid rgb(248, 248, 248);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.notification{
    font-size: bold;
    font-weight: 500px;
    margin-bottom: 10px;
    font-style: italic;
}






.header {
    margin-bottom: 2px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    max-width: 800px;
}

table {
    width: 100%;
    font-size: inherit;
}

th,
td {
    padding: 12px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}

tr:nth-child(odd) {
    background-color: #eaeaea; /* Adjust the background color for odd rows */
}

tr:hover {
    background-color: #f2f2f2; /* Adjust the hover background color as needed */
}

tr td:not(:last-child) {
    border-bottom: 1px solid #dddddd; 
}

  /* Adjust the font size for smaller screens */
@media screen and (max-width: 768px) {
    .container {
      font-size: 14px;
      padding: 10px;
    }
}

  /* Make the table smaller when window decreases */
@media screen and (max-width: 1200px) {
    table {
      font-size: 14px;
    }
}

.input {
    font-size: 0.9em;
    /* Decreased the font size */
    width: 180px;
    /* Increased width */
    height: 30px;
    padding: 8px;
    /* Decreased padding */
    border-radius: 10px;
    /* Rounded corners */
    margin-bottom: 15px;
    /* Added margin at the bottom */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    /*  Shadows for some depth */
    border: none;
    /* No border */
    outline: none;
    /* Stop yellow highlighting when clicked on */
    transition: 0.2s;
}

.input:hover{
    border-style: outset;
}

.input:focus {
    transition-timing-function: ease;
    transition-duration: 0.6s;
    border-style: none;
    border: 1.5px solid rgb(224, 224, 224);
}
