{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styling.css') }}">
<div class="content">
    <div class="text-box">
        <div class="question">
            <h1 id="question-text">Imagine you are in a country, hit the button when you're ready!</h1>
            <input type="hidden" id="characteristic" value="">
        </div>
        <div >
            <button class="btn" id="yes">Yes</button>
            <button class="btn" id="no">No</button>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        function updateQuestion(response) {
            // Update the question text and the number of countries left
            $('#question-text').text(response.next_question_text);
            $('#characteristic').val(response.next_characteristic);
            $('#countries-left').text(response.countries_left + ' countries left');
        }

        function handleGameFinish(response) {
            // Display the game finish message
            $('#question-text').text(response.next_question_text);
            $('#countries-left').text(response.countries_left + ' countries left');
            
            if (response.next_question_text.includes("start a new game")) {
                // Ask the user to play again
                $('#yes').html('Play Again');
                $('#no').html('Home');

            }
        }

        // Start a new game when the page loads
        $.ajax({
            url: '/start_game',
            method: 'POST',
            success: function(response) {
                if (response.next_question_text.includes("start a new game")) {
                    handleGameFinish(response);
                } else {
                    updateQuestion(response);
                }
            }
        });

        // When the user clicks on a button...
        $(document).on('click', '.btn', function() {
            if ($(this).text() === 'Play Again') {
                // Redirect to the new game route
                window.location.href = '{{ url_for("main.new_page") }}';
            }   else if ($(this).text() === 'Home') {
                // Redirect to the new game route
                window.location.href = '{{  url_for('main.index') }}';
            } else {
                // Get the user's response ('yes' or 'no') based on the button they clicked
                var user_response = $(this).attr('id');
                var prev_characteristic = $('#characteristic').val();
                var current_question = $('#question-text').text();
                
                // Send an AJAX request to the '/get_question' route
                $.ajax({
                    url: '/get_question',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'user_response': user_response, 'prev_characteristic': prev_characteristic, 'current_question': current_question }),
                    success: function(response) {
                        if (response.next_question_text.includes("start a new game")) {
                            handleGameFinish(response);
                        } else {
                            updateQuestion(response);
                        }
                    }
                });
            }
        });
    });
</script>
{% endblock %}
