{% extends "base.html" %}

{% block content %}
<style>
  body {
    background-image: url("{{ url_for('static', filename='images/seafaring.jpg') }}");
  }

  .bg {
    background-image: url("{{ url_for('static', filename='images/paper.jpg') }}");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table-container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 300%;
    max-width: 990px;
    height:300px;
    overflow-x: auto;
  }

  .table-header {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .table-container {
      width: 90%;
    }
  }

  @media screen and (max-width: 400px) {
    .table-container {
      width: 100%;
    }
  }
</style>

<div class="bg">
  <div class="table-container">
    <h1 class="table-header">Gaming History</h1>
    <table>
      <thead>
        <tr>
          <th>Session ID</th>
          <th>Date</th>
          <th>Country</th>
          <th>Guess Result</th>
          <th>Guess Result</th>
        </tr>
      </thead>
      <tbody>
        <!-- Mock data -->
        <tr style="cursor: pointer;" onclick="location.href='{{ url_for('main.game_session') }}'">
          <td>1</td>
          <td>2023-05-01</td>
          <td>United States</td>
          <td>Guessed correctly</td>
          <td>United States</td>
        </tr>
        <tr style="cursor: pointer;" onclick="location.href='{{ url_for('main.game_session') }}'">
          <td>2</td>
          <td>2023-05-03</td>
          <td>Canada</td>
          <td>Guessed incorrectly</td>
          <td>Brazil</td>
        </tr>
        
        <!-- Add more mock data as needed -->
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
