{% extends "base.html" %}

{% block content %}
<style>
  body {
    background-image: url("{{ url_for('static', filename='images/seafaring.jpg') }}");
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  .text-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 1000px; /* Adjust the maximum width as per your preference */
    font-size: 16px;
  }

  table {
    width: 100%;
    font-size: inherit;
  }

  th,
  td {
    padding: 12px;
    text-align: left;
  }

  /* Adjust the font size for smaller screens */
  @media screen and (max-width: 768px) {
    .text-box {
      font-size: 14px;
      padding: 10px;
    }
  }

  /* Make the table smaller when window decreases */
  @media screen and (max-width: 1200px) {
    table {
      font-size: 14px;
    }
  }
</style>

<div class="text-box">
  <h1 class="table-header">Gaming History</h1>
  <table>
    <thead>
      <tr>
        <th>Game Attempt</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      {% for attempt in attempts %}
      <tr onclick="location.href='{{ url_for('main.game_session', session_id=attempt[1]) }}';" style="cursor: pointer;">
        <td>{{ attempt[1] }}</td>
        <td>{{ attempt[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
