{% extends "base.html" %}

{% block content %}
<style>
    .button {
        font-size: 1em;
        /* Decreased the font size */
        padding: 8px 15px;
        /* Decreased padding */
        border-radius: 10px;
        /* Rounded corners */
        margin-top: 10px;
        /* Added margin at the top */
        border: none;
        cursor: pointer;
        /* Change cursor when hovering over the button */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        /*  Shadows for depth */
    }

    .text-box {
        position: relative;
    }
</style>
<!-- Wrap your text in a div with the class "text-box" -->
{% if not current_user.is_authenticated %}
<div class="text-box">
    <h1 class="title" style="font-size: 26px;">Marco Polo</h1>
    <h2 class="subtitle" style="font-size: 20px;font-weight: 400;">Can you hide from one of the greatest explorers in
        history?</h2>
    <br>
    <p class="subtitle">
        Start by thinking of a country to hide in.
        Marco Polo will then ask you a few questions that you will have to answer as truthfully as possible.
        After that, he will guess which country you were hiding in.
    </p>
    <br>
    <p class="subtitle">
        But hold on, you’ll need an account before you can play. Click on log in or sign up down below to proceed to the game.
    </p>
    <br>
    <a href="{{ url_for('auth.login') }}"><button class="button">Login</button></a>
    <a href="{{ url_for('auth.signup') }}"><button class="button">Sign Up</button></a>
    <br>
    <br>
    
</div>
{% endif %}
{% if current_user.is_authenticated %}
<div class="text-box">
    <p class="subtitle">Are you ready to set sail?</p>
    <div class="button-container">
        <button id="start" class="custom-button">Now Go Hide</button>
    </div>
</div>
{% endif %}
<script>
    document.getElementById("start").onclick = function () {
        location.href = "/question";
    };
</script>  
{% endblock %}

