{% extends "base.html" %}

{% block content %}
<style>
    * {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }

    /* Style for the login box */
    .box {
        background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
        border-radius: 15px; /* Rounded corners */
        padding: 30px; /* Increased padding */
        text-align: center;
        width: 100%; /* Increased width */
        margin: auto;
    }

    /* Style for the title */
    .title {
        font-size: 2em; /* Increased the font size */
    }

    /* Style for the input */
    .input {
        font-size: 1.5em; /* Increased the font size */
        padding: 10px;
        border-radius: 15px; /* Rounded corners */
    }

    /* Style for the button */
    .button {
        font-size: 1.5em; /* Increased the font size */
        padding: 10px 20px;
        border-radius: 15px; /* Rounded corners */
    }
</style>
<div class="column is-4 is-offset-4">
    <div class="box">
        <h3 class="title">Login</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. 
             </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}
