{% extends "base.html" %}

{% block content %}
<div class="text-box">
  <h1 class="title">
    Welcome, {{name}}!
  </h1>
  <div class="button-container">
    <button id="myButton" class="custom-button">Now Go Hide</button>
  </div>
</div>

<button id="history" class="custom-button">History</button>

<script>
  document.getElementById("history").onclick = function () {
      location.href = "/history";
  };
  </script> 

<script>
  document.getElementById("myButton").onclick = function () {
      location.href = "/question";
  };
</script>  
{% endblock %}
