{% extends "base.html" %}

{% block content %}
<style>
  * {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    /* Added margin at the bottom */
  }
</style>
<div class="text-box">
  <p id="start_text" class="subtitle">Welcome, {{name}}!</p>
  <p>Are you ready to set sail?</p>
  <div class="button-container">
      <a href="{{ url_for('main.new_page') }}"><button id="start_button" class="custom-button">Now Go Hide</button></a>
  </div>
</div>

 

{% endblock %}
