{% extends "base.html" %}

{% block content %}
<style>
    * {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }

    /* Style for the signup box */
    .box {
        background: rgba(255, 255, 255, 0.8);
        /* Semi-transparent white */
        border-radius: 15px;
        /* Rounded corners */
        padding: 20px;
        /* Decreased padding */
        text-align: center;
        width: 100%;
        /* Increased width */
        margin: auto;
        border: 1.25px solid rgb(248, 248, 248);
        /* Border highlight */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        /* Shadows for depth */
    }

    /* Style for the title */
    .title {
        font-size: 1.5em;
        /* Decreased the font size */
        margin-bottom: 10px;
        /* Added margin at the bottom */
    }

    /* Style for the input */
    .input {
        font-size: 1em;
        /* Decreased the font size */
        padding: 8px;
        /* Decreased padding */
        border-radius: 10px;
        /* Rounded corners */
        margin-bottom: 10px;
        /* Added margin at the bottom */
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        /*  Shadows for some depth */
        border: none;
        border-style: outset;
        /* Outset border style */
        outline: none;
        /* Stop yellow highlighting when clicked on */
    }

    /* Style for the button */
    .button {
        font-size: 1em;
        /* Decreased the font size */
        padding: 8px 15px;
        /* Decreased padding */
        border-radius: 10px;
        /* Rounded corners */
        margin-top: 10px;
        /* Added margin at the top */
        border: none;
        cursor: pointer;
        /* Change cursor when hovering over the button */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        /*  Shadows for some depth */
    }
</style>

<div class="column is-4 is-offset-4">
    <div class="box">
        <h3 class="title">Sign Up</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }} Please <a href="{{ url_for('auth.login') }}">login</a>.
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <span class="icon">
                        <ion-icon name="mail-outline"></ion-icon>
                    </span>
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <input class="input is-large" type="text" name="username" placeholder="Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>

<!-- Icons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}