<!-- this is the main game page content, user ajax to send data from back to front, as well as get data from back and display ot as question -->

{% extends "base.html" %}

{% block content %}
<style>

  body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: rgb(64, 58, 58);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  .text-box {
    background-image: url("{{ url_for('static', filename='images/paper.png') }}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
    background-color: transparent;
    border: none; /* Remove the border */
    box-sizing: border-box; /* Include border in width and height calculation */
    background-origin: border-box; /* Start the background from the border edge */
    box-shadow: none;
  }
</style>

<div class="text-box">
    <div class="question">
        <h1 id="question-text">Imagine you are in a country, hit the button when you're ready!</h1>
        <input type="hidden" id="characteristic" value="">
    </div>
    <div>
        <button class="btn" id="yes">Yes</button>
        <button class="btn" id="no">No</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        function updateQuestion(response) {
            // Update the question text and the number of countries left
            $("#question-text").text(response.next_question_text);
            $("#characteristic").val(response.next_characteristic);
        }

        function handleGameFinish(response) {
            // Display the game finish message
            $("#question-text").text(response.next_question_text);
            
            if (response.next_question_text.includes("start a new game")) {
                // Ask the user to play again
                $("#yes").html("Play Again");
                $("#no").html("Home");

            }
        }

        // Start a new game when the page loads
        $.ajax({
            url: "/start_game",
            method: "POST",
            success: function(response) {
                if (response.next_question_text.includes("start a new game")) {
                    handleGameFinish(response);
                } else {
                    updateQuestion(response);
                }
            }
        });

        // When the user clicks on a button...
        $(document).on("click", ".btn", function() {
            if ($(this).text() === "Play Again") {
                // Redirect to the new game route
                window.location.href = '{{ url_for("main.game") }}';
            }   else if ($(this).text() === "Home") {
                // Redirect to the new game route
                window.location.href = "{{  url_for('main.index') }}";
            } else {
                // Get the user's response ('yes' or 'no') based on the button they clicked
                var user_response = $(this).attr("id");
                var prev_characteristic = $("#characteristic").val();
                var current_question = $("#question-text").text();
                
                // Send an AJAX request to the '/get_question' route
                $.ajax({
                    url: "/get_question",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ "user_response": user_response, "prev_characteristic": prev_characteristic, "current_question": current_question }),
                    success: function(response) {
                        if (response.next_question_text.includes("start a new game")) {
                            handleGameFinish(response);
                        } else {
                            updateQuestion(response);
                        }
                    }
                });
            }
        });
    });
</script>
{% endblock %}

