{% extends "base.html" %}

{% block content %}
<!-- page to display game summary for current user, attempts is sent from main.py-->
<!-- if attempts length is 0, means the user hasn't played a game yet, ask to start game -->
<div class="history-box" style="margin-bottom: 1px;">
    <h2>Game History</h2>
</div>
<div class="text-box">
  {% if attempts|length == 0 %}
    <p>No gaming record yet.</p>
    <div class="button-container">
      <form action="{{ url_for('main.index') }}" method="get">
        <button id="start_button" class="btn">Start Game</button>
      </form>
    </div>
  {% else %}
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Game Attempt</th>
            <th>Bot-guessed Country</th>
            <th>Result</th>
          </tr>
        </thead>

        <tbody>
          {% for attempt in attempts %}
          <tr onclick="location.href='{{ url_for('main.game_session', session_id=attempt[0]) }}';" style="cursor: pointer;">
            <td>{{ attempt[1] }}</td>
            <td>{{ attempt[2] }}</td>
            <td>{{ attempt[3] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
</div>


<script>
  // Enable scrolling after 6 entries
  const tableContainer = document.querySelector(".table-container");
  if (tableContainer && tableContainer.scrollHeight > tableContainer.clientHeight) {
    tableContainer.style.overflowY = "scroll";
  }
</script>
{% endblock %}
