{% extends "base.html" %}

{% block content %}
<!-- this page is for logged user only, display welcome message and start game button -->
<div class="text-box">
  <p id="start_text" class="subtitle">Welcome, {{name}}!</p>
  <p>Are you ready to set sail?</p>
  <div class="button-container">
      <form action="{{ url_for('main.index') }}" method="get">
        <button id="start_button" style="font-family: 'Trebuchet MS', sans-serif;" class="btn">Now Go Hide</button>
      </form>
  </div>
</div>

 

{% endblock %}
